@model Mascota

@{
    ViewData["Title"] = "Ver una Mascota";
}

<h1>@Model.Nombre</h1>

<div>
    <img src="data:image/png;base64,@Convert.ToBase64String(Model.Imagen)" class="card-img-top" alt="..." style="height:9rem; width:9rem;">
</div>

<div>
    <h3>Edad: @Model.Edad</h3>
    <h3>Personalidad: @Model.Personalidad</h3>
    <h3>Vacunado: @(Model.Vacunado ? "si" : "no")</h3>
    <h3>Peso: @Model.Peso KG</h3>
    <h3>Dueños anteriores: @Model.CantDuenios</h3>
    <h3>Estado de Salud: @Model.EstadoDeSalud</h3>

    <h3>Pertenece al refugio: @Model.SuRefugio.Nombre</h3>
    <a class="btn btn-primary" asp-controller="Refugio" asp-action="UnRefugio" asp-route-refugioID="@Model.RefugioId"> Ver su Refugio</a>

</div>