@model Refugio
@{
    ViewData["Title"] = "Ver un Refugio";
}

<h1>@Model.Nombre</h1>

<div>
    <img src="data:image/png;base64,@Convert.ToBase64String(Model.Imagen)" class="card-img-top" alt="..." style="height:15rem; width:15rem;">
</div>

<div>
    <h3>Direccion: @Model.direccion</h3>
    <h3>Descripcion: @Model.Descripcion</h3>
    <h3>Horario: @Model.Horario</h3>
</div>

<h3>Sus Mascotas:</h3>
<div class="d-flex">
@{
    
    foreach (Mascota mascota in Model.Mascotas)
    
    {
        <div class="m-2" style="max-width:8rem;">
            <h4>@mascota.Nombre</h4>
                <img class="m-1 card-img-top" src="data:image/png;base64,@Convert.ToBase64String(mascota.Imagen)" alt="..." style="height:5rem; width:5rem;">
            <a class="btn btn-primary" asp-controller="Mascota" asp-action="UnaMascota" asp-route-idMascota="@mascota.Id"> Ver Mascota</a>
        </div>
            

    }
}
</div>